/*
	Simple elements
*/
body {
	font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
	font-size: 18px;
	line-height: 1.8em;
	max-width: 1000px;
	background: #252525;
	margin: 0 auto;
}
header.main {
	padding: 40px 20px 20px;
	height: 120px;
	background: #092E20;
	position: relative;
}
header.main h1 {
	position: absolute;
	top: 50px;
	margin: 0;
	font-size: 2.6em;
	line-height: 0.8;
}
header.main h1 a {
	border: 0;
	color: whiteSmoke;
}
header.main h1 a:hover {
	background: transparent;
	color: whiteSmoke;
}
footer.main {
	padding-top: 80px;
}
h1 {
	font-size: 2.2em;
	margin-top: 0;
	line-height: 1.20em;
}
h2 {
	margin-top: 0;
}
p {
	margin: 30px 0;
}
blockquote {
	font-style: italic;
}
a {
	text-decoration: none;
	border-bottom: 1px solid black;
	color: black;
}
a:hover {
	color: #004400;
	background: #E0FFB8;
	border: 0;
}
input[type="text"] {
	width: 100%;
	padding: 5px;
	border: 1px solid #CCC;
	font-size: 1.2em;
	margin-bottom: 10px;
}
iframe {
	max-width: 100% !important;
}
textarea {
	width: 100%;
	resize: none;
	padding: 6px;
	border: 1px solid #CCC;
	height: 120px;
	margin-bottom: 5px;
}
img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}
ul {
	padding-left: 18px;
}
li {
	margin-bottom: 5px;
}
/*
	End - Simple elements
*/


/*
	Controls
*/
[class^="icon-"],
[class*=" icon-"] {
	cursor: pointer;
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}
[class^="icon-"]:hover,
[class*=" icon-"]:hover {
	background-color: #E0FFB8;
}
.icon-pencil {
	background-position: 0 -72px;
}
.icon-trash {
	background-position: -456px 0;
}
/*
	End - Controls
*/


/*
	Containers
*/
.authentication {
	position: absolute;
	color: whiteSmoke;
	right: 20px;
	top: 16px;
}
.authentication a {
	color: whiteSmoke;
	border-color: whiteSmoke;
}
.authentication a:hover {
	color: #FFC757;
	border: 0;
	background: transparent;
}
.new-entry-actioner {
	position: absolute;
	right: 20px;
	top: 124px;
}
.messages {
	position: absolute;
	left: 20px;
	top: 100px;
	padding: 10px 20px 5px;
	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
	border-radius: 4px;
	font-weight: bold;
	font-size: 0.9em;
	margin: 0;
}
.messages span {
	display: block;
	margin-bottom: 5px;
}
.content {
	padding: 40px 20px 20px;
	margin-bottom: 40px;
	background: white;
}
.new-entry-container {
	display: none;
	margin-bottom: 40px;
}
.edit-entry-form {
	display: none;
}
.post {
	position: relative;
	background: url('dotted-border.png') bottom left repeat-x;
	margin-bottom: 60px;
	padding-bottom: 40px;
}
.entry-title a {
	border: 0;
}
.entry-author {
	font-family: 'lucida grande', 'helvetica neue', helvetica, sans-serif;
	text-align: right;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 20px;
}
.tip {
	font-family: 'lucida grande', 'helvetica neue', helvetica, sans-serif;
	color: #888;
}
.no-underline {
	text-decoration: none;
	border: 0;
}
/*
	End - Containers
*/

/*
	Various
*/
.btn {
	display: inline-block;
	cursor: pointer;
	padding: 8px 22px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	background: #326342;
	border: 0;
	box-shadow: 1px 1px 2px #666;
	color: whiteSmoke;
}
.btn:hover {
	background: #234F32;
}
.btn:active {
	background: #1F4B2E;
}
.underline-link {
	vertical-align: sub;
	border-bottom: 1px solid black;
	cursor: pointer;
}
.underline-link:hover {
	color: #004400;
	background: #E0FFB8;
	border: 0;
}
.line {
	background: #E5E5E5;
	height: 1px;
	margin: 60px 0;
}
.moderated {
	background: #FFDDDD;
}
.italic {
	font-style: italic;
}
.text-align-right {
	text-align: right;
}
.margin-left10 {
	margin-left: 10px;
}
.float-right {
	float: right;
}
.older {
	float: right;
}
.newer {
	float: left;
}
/*
	End - Various
*/

/*
	Markitup
*/
.markitupeditor {
	width: 100%;
	padding: 8px;
	margin-top: 2px;
	height: 200px;
	font-size: 1.4em;
}
.markitupheader ul a {
	background-position: 2px;
	border: 0;
}
.markitup {
	width: 100%;
}
/*
	End Markitup
*/
