<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>Ultra Simple Blog</title>
	</head>
	<body>

		<div class="authentication">
			{% if current_user %}
				Hi <strong>{{ current_user }}</strong>,
			{% endif %}
			<a href="{{ url }}">{{ url_linktext }}</a>
		</div>

		{% for error in errors %}
			<div class="error">
				{{ error.message }}
			</div>
		{% endfor %}

		{% if current_user %}
			<div class="new-entry-actioner">
				<button class="showFormButton btn">
					New Entry
				</button>
			</div>
		{% endif %}
		
		<div class="content">
			<header>
				<h1>
					Ultra Simple Blog
				</h1>
			</header>

			{% if current_user %}
				<div class="new-entry-container">
					<form class="new-entry" action="/" name="newEntryForm" method="post">
						{% for field in form %}
							{{ field }}
						{% endfor %}
						<input type="hidden" name="id" value="-1"/>
					</form>
					<button class="postButton btn" onclick="document.newEntryForm.submit()">
						Post
					</button>
					<a class="showFormButton underline-link">
						Cancel
					</a>
				</div>
			{% endif %}

			{% block content %}{% endblock %}

			<footer>
				This is a simple blogging tool developed using Django and deployed on Google App Engine. If you want to take a look at the code, here's the repo: <a target="_blank" href="https://github.com/jgasteiz/ultra-simple-blog">Ultra Simple Blog - Github</a>
			</footer>

		</div>

		{% if current_user %}
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
			<script type="text/javascript" src="/js/USIMPLE_BLOG.js"></script>
			<script type="text/javascript" src="/js/USIMPLE_BLOG.Core.js"></script>
			<script type="text/javascript" src="/js/main.js"></script>
		{% endif %}
	</body>
</html>