<html>
	<head>
		<!-- markItUp! skin -->
		<link rel="stylesheet" type="text/css" href="/markitup/skins/simple/style.css" />
		<!--  markItUp! toolbar skin -->
		<link rel="stylesheet" type="text/css" href="/markitup/sets/markdown/style.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>Ultra Simple Blog</title>
	</head>
	<body>

		<div class="authentication">
			{% if current_user %}
				Hi <strong>{{ current_user }}</strong>,
			{% endif %}
			<a href="{{ url }}">{{ url_linktext }}</a>
		</div>

		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if current_user %}
			<div class="new-entry-actioner">
				<button class="toggleCreating btn" data="new">
					New Entry
				</button>
			</div>
		{% endif %}
		
		<div class="content">
			<header>
				<h1>
					<a class="a-title" href="/">
						Ultra Simple Blog
					</a>
				</h1>
			</header>

			{% if current_user %}
				<div class="new-entry-container">
					<form class="new-entry-form" action="new_entry/" name="newEntryForm" method="post">
						{% csrf_token %}
						{% for field in form %}
							{{ field }}
						{% endfor %}
						<input type="hidden" name="id" value="-1"/>
					</form>
					<button class="postButton btn" onclick="document.newEntryForm.submit()">
						Post
					</button>
					<a class="toggleCreating underline-link" data="cancel">
						Cancel
					</a>
				</div>
			{% endif %}

			{% block content %}{% endblock %}

			<footer>
				<p>
					This is a simple blogging tool developed using Django and deployed on Google App Engine. If you want to take a look at the code, here's the repo: <a target="_blank" href="https://github.com/jgasteiz/ultra-simple-blog">Ultra Simple Blog - Github</a>.
				</p>
				<p>
					Markdown is the markup language used in Ultra Simple Blog.
					<a target="_blank" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">[cheat sheet](http://url.com)</a>
					|
					<a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">[about](http://url.com)</a>
				</p>
				<p>
					<a target="_blank" href="http://markitup.jaysalvat.com/home/">Markitup</a> is the jQuery markup editor used for writing entries.
				</p>
				<p>
					<a href="http://glyphicons.com/" target="_blank">Glyphicons</a> were used for "edit" and "trash" icons.
				</p>
			</footer>

		</div>

		{% if current_user %}
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
			<script type="text/javascript" src="/js/USIMPLE_BLOG.js"></script>
			<script type="text/javascript" src="/js/USIMPLE_BLOG.Core.js"></script>
			<script type="text/javascript" src="/js/main.js"></script>
			<!-- markItUp! -->
			<script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
			<!-- markItUp! toolbar settings -->
			<script type="text/javascript" src="/markitup/sets/markdown/set.js"></script>
		{% endif %}
	</body>
</html>