{% extends "simpleblog/base.html" %}

{% block content %}

	{% for entry in entry_list %}

		{% load markup %}

		<!-- Article -->
		<article class="post post-{{ entry.key.id }}">
			
			<!-- Header -->
			<header>
				<!-- Author -->
				<div class="entry-author">
					Posted on {{ entry.date }}, by <strong>{{ entry.author.nickname }}</strong>
				</div>

				<!-- Edit-Delete controls -->
				<div class="float-right">
					{% if entry.author == current_user or is_admin %}
					<i class="icon-pencil toggleEditing" data="edit" id="{{ entry.key.id }}"></i>
					<i class="icon-trash toggleDeleting" id="{{ entry.key.id }}"></i>
					{% endif %}
				</div>
				
				<!-- Title -->	
				<h1 class="entry-title">
					<a href="/single/{{ entry.slug }}">
						{{ entry.title|striptags }}
					</a>
				</h1>
			</header>

			<!-- Body -->
			<div class="entry-content">
				
				{{ entry.content|striptags|markdown|removetags:"h1 h2 h3 h4 h5 h6" }}
				
				<div class="text-align-right italic {{ entry.moderated }}">
					{{ entry.moderated }}
				</div>
			</div>
		</article>

		{% if entry.author == current_user or is_admin %}
			<!-- Edit form -->
			<form class="edit-entry-form form-{{ entry.key.id }}" action="/edit_entry/" method="post">
				<h2 class="tip">Edit entry</h2>
				{% csrf_token %}
				<input id="id_title" type="text" name="title" placeholder="Title" value="{{ entry.title }}"/>
				<textarea id="id_content" name="content">{{ entry.content }}</textarea>
				<input type="hidden" name="id" value="{{ entry.key.id }}"/>
				<input type="hidden" name="type" value="edit"/>
				<input class="btn" type="submit" value="Save">
				<a class="underline-link toggleEditing margin-left10" data="cancel" id="{{ entry.key.id }}">
					Cancel
				</a>
			</form>

			<!-- Delete form -->
			<form id="delete_form_{{ entry.key.id }}" action="/delete_entry/" method="post">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{ entry.key.id }}"/>
				<input type="hidden" name="type" value="delete"/>
			</form>
		{% endif %}

	{% empty %}

		<h2>Nothing to show!</h2>

	{% endfor %}

	{% if is_paginated %}
		<div class="pagination">
			{% if page_obj.has_previous %}
				<a class="newer" href="?page={{ page_obj.previous_page_number }}">
				    ← Newer
				</a>
			{% endif %}
			{% if page_obj.has_next %}
				<a class="older" href="?page={{ page_obj.next_page_number }}">
				    Older →
				</a>
			{% endif %}
		</div>
	{% endif %}

	<footer class="main">
		<h2>About</h2>
		<ul>
			<li>
				This is a simple blogging tool developed using Django and deployed on Google App Engine. If you want to take a look at the code, here's the repo: <a target="_blank" href="https://github.com/jgasteiz/ultra-simple-blog">Ultra Simple Blog - Github</a>.
			</li>
			<li>
				Markdown is the markup language used in Ultra Simple Blog.
				<a target="_blank" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">[cheat sheet](http://url.com)</a>
				|
				<a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">[about](http://url.com)</a>
			</li>
			<li>
				<a target="_blank" href="http://markitup.jaysalvat.com/home/">Markitup</a> is the jQuery markup editor used for writing entries.
			</li>
			<li>
				Inspiration taken from <a target="_blank" href="http://octopress.org/">Octopress</a>.
			</li>
		</ul>
	</footer>

{% endblock %}
