{% extends "simpleblog/base.html" %}

{% block content %}

	{% load simpleblog %}
	
	{% for entry in entries %}
			
		{% if current_user %}
		<div class="post post-{{ entry.key.id }}">
		{% else %}
		<div class="post">
		{% endif %}
			
			<!-- Title -->	
			<div class="entry-title">
				{{ entry.title|escape }}
			</div><!-- End Title -->
			
			<!-- Author -->
			<div class="entry-author">
				On {{ entry.date }}, by
				<b>{{ entry.author.nickname }}</b>
			</div><!-- End Author -->
			
			<!-- Body -->
			<div class="entry-content">
				{{ entry.content|allowtags|safe|urlize|linebreaks }}
			</div><!-- End Body -->
			
			{% if current_user %}
			<!-- Edit-Delete controls -->
			<div class="edit-delete">
				<i class="icon-pencil toggleEditing" id="{{ entry.key.id }}"></i>
				<i class="icon-trash toggleDeleting" id="{{ entry.key.id }}"></i>
			</div><!-- End Edit-Delete controls -->
			{% endif %}

		</div>
		
		{% if current_user %}
		<!-- Entry form -->
		<form class="edit-entry-form form-{{ entry.key.id }}" action="edit_entry/" method="post">
			{% csrf_token %}
			<input id="id_title" type="text" name="title" placeholder="Title" value="{{ entry.title }}"/>
			<textarea id="id_content" name="content">{{ entry.content }}</textarea>
			<input type="hidden" name="id" value="{{ entry.key.id }}"/>
			<input class="btn" type="submit" value="Save">
			<a class="underline-link toggleEditing" id="{{ entry.key.id }}">
				Cancel
			</a>
		</form><!-- End Entry form -->
		{% endif %}

		<div class="line"></div>

	{% endfor %}

{% endblock %}

