{% extends "simpleblog/base.html" %}

{% block entry %}

	{% load markup %}

	<!-- Article -->
	<article class="post post-{{ e.entry.id }}">
		
		<!-- Header -->
		<header>
			<!-- Author -->
			<div class="entry-author">
				Posted on {{ e.entry.date }}, by
				<strong>{{ e.entry.author.nickname }}</strong>
			</div><!-- End Author -->

			<!-- Edit-Delete controls -->
			<div class="float-right">
				{% if e.editable == "True" %}
				<i class="icon-pencil toggleEditing" data="edit" id="{{ e.entry.id }}"></i>
				<i class="icon-trash toggleDeleting" id="{{ e.entry.id }}"></i>
				{% endif %}
			</div><!-- End Edit-Delete controls -->
			
			<!-- Title -->	
			<h1 class="entry-title">
				<a href="/{{ e.entry.slug }}">
					{{ e.entry.title|striptags }}
				</a>
			</h1><!-- End Title -->

		</header><!-- End Header -->

		<!-- Body -->
		<div class="entry-content">
			
			{{ e.entry.content|striptags|markdown|removetags:"h1 h2 h3 h4 h5 h6" }}
			
			<div class="text-align-right italic {{ e.entry.moderated }}">
				{{ e.entry.moderated }}
			</div>

		</div><!-- End Body -->
		
	</article><!-- End Article -->

	{% if e.editable == "True" %}
		<!-- Entry form -->
		<form class="edit-entry-form form-{{ e.entry.id }}" action="/edit_entry/" method="post">
			<h2 class="tip">Edit entry</h2>
			{% csrf_token %}
			<input id="id_title" type="text" name="title" placeholder="Title" value="{{ e.entry.title }}"/>
			<textarea id="id_content" name="content">{{ e.entry.content }}</textarea>
			<input type="hidden" name="id" value="{{ e.entry.id }}"/>
			<input class="btn" type="submit" value="Save">
			<a class="underline-link toggleEditing margin-left10" data="cancel" id="{{ e.entry.id }}">
				Cancel
			</a>
		</form><!-- End Entry form -->
	{% endif %}

{% endblock %}
